/* Global layout classes */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f8fafc;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}